<div>
  <h1 class="text-5xl font-unbounded font-bold my-7 text-center">Your account</h1>
</div>
<div class="flex items-center justify-center mb-8">
  <div class="w-full max-w-lg bg-purple-800 border border-t-8 border-l-8 border-b-13 border-r-13 border-black sm:p-6 md:p-8">
    <p class="text-lg font-medium">Name</p>
    <p class="text-xl font-unbounded font-bold text-amber-500"><%= @user.name %></p>
    <p class="text-lg font-medium mt-3">Email</p>
    <p class="text-xl font-unbounded font-bold text-amber-500"><%= @user.email %></p>
    <div class="flex items-center justify-center mb-4">
      <%= link_to "Edit", user_edit_path, class:"w-full font-bold border border-t-8 border-l-8 border-b-13 border-r-13 border-black bg-amber-500 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 text-md mt-3 px-5 py-2.5 text-center" %>
    </div>
    <div class="flex items-center justify-between">
      <%= button_to "Logout", :logout, method: :post, class:"w-52 font-bold border border-t-8 border-l-8 border-b-13 border-r-13 border-black bg-amber-500 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 text-md px-5 py-2.5 text-center" %>
      <%= button_to "Delete", @user, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class:"w-52 font-bold border border-t-8 border-l-8 border-b-13 border-r-13 border-black bg-amber-500 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 text-md px-5 py-2.5 text-center" %>
    </div>
  </div>
</div>
